body{
    background-color: gray;

}
.banner1{
    text-align: center;
    margin: 0 auto;
}
.circles{
    text-align: center;
    margin: 0 auto;
}
.icon{
    width: 350px;
    border: 15px solid black;
    border-radius: 50%;
    margin: 50px 25px;
}
